.food-order-page-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png");
    height: 100vh;
    width: 100vh;
    background-size: cover;
}
.card-container {
    background-color: #f6c56e;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 30px;
}
.main-heading {
    font-family: "Bree Serif";
    font-size: 26px;
    font-weight: 600;
    text-align: left;
    color: #323f4b;
}
.description {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #323f4b;
}
.book-now-button {
    height: 30px;
    width: 90px;
    border-radius: 5px;
    background-color: white;
    color: #323f4b;
}
