.conference-home-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.conference-img {
    height: 250px;
    width: 500px;
}
.heading {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: black;
    margin-top: 15px;
}
.description {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    color: black;
    margin-top: 15px;
}
.conference-details-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding: 20px;
}
.video-container {
    height: 250px;
    width: 500px;
}
.details-page-heading {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    font-weight: 700;
    color: black;
}
.details-page-description {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color: black;
}
.values-container {
    text-align: center;
    padding: 10px;
    margin-right: 20px;
}
.text-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-right: 15px;
}
.values {
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: 700;
    color: black;
}
.text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
}
